@model List<MyBlogApp.Application.ViewModels.ListAuthorViewModel>

<h1>Authors</h1>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Name
            @if (!string.IsNullOrEmpty(item.ImageURL))
            {
                @*<img src="../../@item.ImageURL" />*@

                <img src="@item.ImageURL"/>
            }
        </li>
    }
</ul>

<a href="/Author/Create">Ekle</a>
